.grid-container {
    display: grid;
    grid-template-rows: 700px auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}

.grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.blackChessPiece {
    height: 65px;
    width: 65px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.whiteChessPiece {
    height: 65px;
    width: 65px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.goboard {
    grid-column-start: 1;
    grid-column-end: 4;
}


